header {
    background-color: teal;
    border-bottom: 25px;
    border-color: solid turquoise;
    padding-bottom: 20px;
    
}

section,
li {
    margin-top: 50px;
    padding-top: 25px;
    border: solid;
    list-style-type: none;
    padding-bottom: 25px;
    padding-left: 25px;
    }

form {
    padding: 25px;
    display: inline-flex;
}
.select-dropdown, .select-status {
    appearance: none;
    
}

.form-group {
    margin: 10px;
}