header {
    background-color: teal;
    border-bottom: 25px;
    border-color: solid turquoise;
    padding-bottom: 20px;
    
}
main {
    display: flex;
}
section {
    flex: 1;
    flex-basis: 100%;
    margin: 25px;
}
section,
li {
    margin-top: 50px;
    padding: 25px;
    border: solid;
    list-style-type: none;
    padding-bottom: 25px;
    padding-left: 25px;
    }

form {
    padding: 25px;
    display: inline-flex;
}
.select-dropdown, .select-status {
    appearance: none;
    
}

.form-group {
    margin: 10px;
}